* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 18px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    text-align: center;
    background-color: #212f3d;
}

.notification {
    background-color: #0f1415;
    color: whitesmoke;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vh;
}

.content {
    color: whitesmoke;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    font-size: 2vh;
    background-color: #212c2e;
}

.options {
    background-color: #506a6f;
    color: whitesmoke;
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5vh;
    gap: 5px;
}

.csv_handler {
    display: flex;
    flex-direction: row; /* Alinea los elementos de forma horizontal */
    gap: 10px; /* Espaciado opcional entre elementos */
    justify-content: center; /* Centra horizontalmente si es necesario */
    align-items: center; /* Centra verticalmente si es necesario */
}

