.app {
    background-color: #212f3d;
    height: 100%;
    width: 100%;
}
.notification {
    background-color: #b03a2e;
    color: whitesmoke;
    width: 100%;
    height: 5%;
    padding: 2%;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content {
    color: whitesmoke;
    height: 80%;
    width: 100%;
}

.options {
    background-color: #1e8449;
    color: black;
    width: 100%;
    height: 15%;
    padding: 2%;
    text-align: center;
}