.teams-container {
  display: flex;
  width: 100%;
  height: 400px; /* Ajusta la altura según tus necesidades */
}

.team-left, .team-right {
  flex: 1;
  overflow: hidden; /* Evita el scroll en columnas laterales */
}

.list_of_players-container {
  flex: 1;
  overflow-y: auto; /* Permite scroll vertical solo en esta columna */
  overflow-x: hidden; /* Evita scroll horizontal */
}

.list_of_players {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.all_players_item {
  flex-grow: 1;
  text-align: center;
  padding: 5px;
  border: 1px solid #ddd;
}

.skill-comparison-container {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f0f0f0;
}

.skill-comparison-bar {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.skill-name {
  width: 100px;
  margin-right: 10px;
}

.bar-container {
  flex-grow: 1;
  height: 20px;
  background-color: #e0e0e0;
  position: relative;
  overflow: hidden;
}

.bar {
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  transition: width 0.3s ease;
}

.team1-advantage {
  background-color: #4CAF50;  /* Green for Team 1 advantage */
  right: 50%;
}

.team2-advantage {
  background-color: #2196F3;  /* Blue for Team 2 advantage */
  left: 50%;
}